<div id="<%= dom_id menu %>">
  <p>
    <strong>Title:</strong>
    <%= menu.title %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= menu.type_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= menu.description %>
  </p>

</div>
